<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
</head>
<style>
  h1{
      text-align: left;
  }
  form{
      text-align: left;
  }
  input{
      display: block;
      margin-bottom: 10px;
      padding: 10px 20px;
  }
  label
  {
    font-size: 20px;
  }
  button
  {
    padding: 8px 16px;
    font-size: 15px;
  }
  body
  {
     display: flex;
     flex-direction: column;
  }
</style>
<body>
  <h1>Please Log-In </h1>
    <form action="/user/register" method="POST">
          <label for="name">Name</label>
          <input type="text" name="name">
          <label for="email">Email</label>
          <input type="email" name="email">
          <label for="password">Password</label>
          <input type="password" name="password">
        <button type="submit">Register</button>
      </form>
</body>
</html>