<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERADMIN login</title>
    <style>
        h1{
            text-align: left;
        }
        form{
            text-align: left;
        }
        input{
            display: block;
            margin-bottom: 10px;
            padding: 10px 20px;
        }
        label
        {
          font-size: 20px;
        }
        button
        {
          padding: 8px 16px;
          font-size: 15px;
        }
        body
        {
           display: flex;
           flex-direction: column;
        }
    </style>
</head>
<body>
  <h1>SUPERADMIN Please Log-In </h1>

    <form action="/superadmin/login" method="POST">
          <label for="email">Email is the username here</label>
          <input type="email" name="username"> <br>
          <label for="password">Password</label>
          <input type="password"  name="password"> <br>
        <button type="submit" >Login</button>
      </form>
</body>
</html>