<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superadmin Archive</title>
</head>
<style>
    a
    {
        text-decoration: none;
        color: blue;
        border: 2px solid black;
        padding: 8px 16px;
    }
</style>
<body>
        <h3>Profile Settings</h3>
        <!-- add 2 buttons here to logout and to edit profile -->
        <a href="/superadmin/logout" role="button">Log Out</a>
        <a href="/superadmin/edit" role="button">Edit Profile</a>
        <a href="/superadmin/allcourses" role="button">All Courses</a>
        <a href="/superadmin/course/create" role="button">Create Course</a>
</body>
</html>