<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Archive</title>
</head>
<style>
    a
    {
        text-decoration: none;
        color: blue;
        border: 2px solid black;
        padding: 8px 16px;
    }
</style>
<body>
    <!-- here we will show all the courses in which the loggedIn user is enrolled -->
    <% if (locals.courses.length>0) { %>
        <h1>You are registered in the following courses:</h1> 
            <% for (let index = 0; index < locals.courses.length; index++) { %>
            <ul>
              <li><%= courses[index].name %></li>
            </ul>
            <% } %> 
        <% } else if(locals.courses.length===0) { %>
        <h1>You are not registered in any courses.</h1>
        <% } %> 

        <h2>Register for a new course:</h2>
        <a href="/user/course" role="button">Click here</a>
        <h3>Profile Settings</h3>
        <!-- add 2 buttons here to logout and to edit profile -->
        <a href="/user/logout" role="button">Log Out</a>
        <a href="/user/edit" role="button">Edit Profile</a>
        <a href="/user/delete/<%= locals.user_id %>" role="button">Delete Profile</a>
        
</body>
</html>