<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <style>
        /* Styles for form */
        h1 {
            text-align: left;
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            text-align: left;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            display: block;
            margin-bottom: 10px;
            padding: 10px 20px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="file"] {
            display: block;
            margin-bottom: 10px;
            width: 100%;
            font-size: 16px;
        }

        label {
            font-size: 20px;
            margin-bottom: 5px;
            display: block;
        }

        button {
            padding: 8px 16px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Edit Profile</h1>
    <form action="/user/edit" method="post" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= user_name %>">

        <label for="email">Email</label>
        <input type="email" name="email" value="<%= user_email %>" required>

        <label for="password">Password</label>
        <input type="password" name="password">

        <label for="profile_picture">Profile Picture</label>
        <input type="file" name="profile_picture" accept="image/*">

        <button type="submit">Edit Profile</button>
    </form>
</body>

</html>
